.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  // Adjust the layout for desktop and mobile
  .layout {
    display: flex;
    height: calc(100vh - 60px); // Ensure content height minus header height
    margin-top: 60px; // Push content below the header
    flex: 1;
  }

  .main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    color: #ecf0f1;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Box shadow added

    // On larger screens, account for sidebar width when sidebar is open
    &.sidebar-open {
      margin-left: 250px; // Sidebar width
    }

    @media (max-width: 768px) {
      margin-left: 0; // Reset margin for mobile
    }

    // Add card grid for displaying the four cards
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-top: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr); // Adjust for smaller screens
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr; // Stack cards on mobile
      }

      .card {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-right: 5px solid #3498db; /* Customize the border color */
        border-radius: 8px;
        text-align: center;

        h3 {
          margin-bottom: 10px;
          font-size: 18px;
          color: #BFBFBF;
        }

        p {
          font-size: 24px;
          font-weight: bold;
          color: #505057;
        }
      }
    }
  }
}

// invoice
// _dashboard.scss

.statics {
  margin: 2rem 0;
  padding: 2rem;

  .invoice-stats{
    background-color: #fff;
    padding: 1rem;
      .invoice-details {
        display: flex;
        flex-direction: column;  // Stack items vertically
        gap: 10px;

        .stat {
          h4 {
            font-size: 16px;
            color: #505057;
            margin-bottom: 5px;
          }

          p {
            font-size: 20px;
            font-weight: bold;
            color: #505057;
          }
        }
      }
}
  .circle-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; // Adjust this height to make sure the circle fits
    width: 250px; // Ensure the width matches the height
    margin: 0 auto; // Center the circle within its parent
    .invoices {
      position: absolute;
    }
    svg {
      width: 100%;
      height: 100%;
      /* Example circular graph styling */
    }
  }

  
  .sales-statics{
    background-color: #fff;
    padding: 1rem;
  }
}

